# Visual Studio files
*.sln
*.pyproj
*.pyproj.user
.vs

# Python files
*.pyc
.idea/

CVOA_LSTM/cvoa_lstm.sif

CVOA_LSTM/Dockerfile

CVOA_LSTM/environment.yml

CVOA_LSTM/requirements.txt

CVOA_LSTM/bestModel.h5

CVOA_LSTM/sbatch.job

CVOA_LSTM/Singularity

CVOA_LSTM/SingularityTF

CVOA_LSTM/tensorflow.sif

CVOA_LSTM/tflow_opencv.sif

CVOA_LSTM/utils.txt

latex/Report_PeraliThiella.synctex.gz

latex/Report_PeraliThiella.pdf

latex/Report_PeraliThiella.log

latex/Report_PeraliThiella.aux

latex/Report_PeraliThiella-blx.bib

latex/Report_PeraliThiella.bbl

latex/Report_PeraliThiella.blg

latex/Report_PeraliThiella.run.xml
